
@font-face{
    src: url(../fonts/arvo/Arvo-Bold.ttf);
    font-family: "arvo";
}

.Title{
    text-align: center;
    color:whitesmoke;
    line-height: 1;
    padding: 70px; 
    font-family: "arvo";
    background-image: url(../img/road1.jpg);
    background-size: 1332px,900px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    margin-top: -70px;
}
#main-heading{
    margin-right: 20px;
    font-size: 30px;
    margin-top: 70px;
    font-size: 70px;
}
#subheading{
    margin-right: 20px;
    font-size: 55px;
    margin-top: -30px;
}
#hello{
    font-size: 60px;
}
#My-skills{
    font-size: 60px;
}
#Git{
    font-size: 60px;
}
h1{
    font-weight: 100;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1.7px;
}
#joemarie{
    margin-left: 1px;
    height: 300px;
    width: 300px;
    border-radius: 250px;
    float: left;
    margin-top: 1px;
}
h2{
    font-family: 'arvo';
    color:whitesmoke;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1.5px;
}
h3{
    font-family: 'arvo';
    color: whitesmoke;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}
#browser{
    height: 80px; 
    width: 80px;
    text-align: center;
}
#game{
    height: 90px; 
    width: 90px;
    text-align: center;
}
.body{
    text-align: center;
    background-color: rgba(31, 29, 29, 0.363);
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 9px;
    position: relative;
    top: 20px;
    margin-bottom: 50px;
}
.skills{
    text-align: center;
    background-color: rgba(31, 29, 29, 0.363);
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 9px;
}
.Get-in-touch{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
.Footer{
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;
}
#Cm{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 39px;
    font-size:25px;
    font-family: "arvo";
    color: white;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color:rgba(78, 75, 75, 0.144);
    cursor: pointer;
    transition-duration: 0.4s;
}
#Cm:hover{
    background-color: rgb(117, 110, 110);
    color:white;
}
.mainbody p{
    font-family: 'Segoe UI';
    font-size: 24px;
    line-height: 2.5;
    color: white;
    margin-left: 11px;
    margin-right: 11px;

}
.mainbody{
    background-image: url(../img/blur1.1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
}
.button{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}